{%extends 'base.html' %}
{% load static%}

{% block content %}
{% if user.is_authenticated %}
<div class="px-4 py-5 my-5 text-center">
  <a href="{% url 'new_post' %}" class="btn btn-sm btn-info mb-2">New Post</a>
  <div class="row">
    {% for post in all_posts %}
    <div class="col-md-4">
      <img class="d-block mx-auto mb-4 rounded-circle" src="{%static 'photos/post.png'%}" alt="" width="140" height="140">
      <h1 class="display-5 fw-bold">{{post.title}}</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">{{post.post}}</p>
        <p class="lead mb-4"><strong>{{post.hood}}</strong></p>
      </div>
    </div>
  
  {% endfor %}
  </div>
  
</div>
{% endif %}
<!-- end of landing layout -->

{% endblock %}